div.experienceWidget {
    padding: 10px;

    ul {
        margin: 0;
    }
    
    h3 {
        margin: 0;
    }

    h4 {
        margin: 0;
    }

    p {
        margin: 0;
    }

    div.left {
        float: left;
    }

    div.right {
        float: right;
    }
}