div#menu {
    background-color: gainsboro;
    margin-left: 1rem;
    top: 0;
    position: sticky;
    padding: 20px;
    height: calc(100vh - 2rem);
    width: 200px;

    img {
        aspect-ratio: 1;
        max-width: 200px;
        border-radius: 50px;
        border: #411d31 2px groove;
    }

    button {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        background-color: rgb(236, 236, 236);
        border-color: #411d31;
        border-width: 2px;
    }

    button:hover {
        background-color: #e9d7e1;
    }

}

/* div#nav {

} */


