div.section {
  display: block;
  border: 2px #411d31 solid;
  padding: 20px;
  /* max-width: 90vw; */
  background-color: rgba(220, 220, 220, 0.918);
  /* background-image: url('../../assets/images/void_cat_2_empty_background.png'); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h1.sectionTitle {
  position: sticky;
  top: 0;
  width: 100%;
  padding-left: 30px;
  margin-top: 0px;
  margin-left: -30px;
  background-color: #0eaf9b;
  background-blend-mode: hard-light;
}


.rainboww:hover {
  color: chartreuse;
}

/* https://stackoverflow.com/questions/16782498/looping-animation-of-text-color-change-using-css3 */
.rainboww {
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    color: rgb(255, 0, 0);
  }

  33% {
    color: rgb(0, 255, 0);
  }

  66% {
    color: rgb(0, 0, 255);
  }
}