#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  background-color: #322841;

  background-image: url('./assets/images/void_cat_2_empty_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

}

#content {
  float: right;
  text-align: left;
  padding: 0;
  min-height: calc(100vh - 6rem);
  margin: 2rem;
  /* background-image: url('./assets/images/void_cat_2_empty_background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */


  max-width: 80vw;
}

div.divider {
  height: 30px;
  width: 100%;
  margin: 0;
}

button:hover {
  cursor: pointer;
}